<div class="container">

    <form #form="ngForm" (ngSubmit)="onSubmit()">
    
        <div class="form-control">
            <p>Email</p>
            <input type="email" ngModel name="email" required email>
            <!-- <p class="error" ngIf="!email.valid && email.touched"> *Please enter valid email!!</p> -->
            <!-- <p class="error" *ngIf="!email.valid && email.touched>*Please enter valid email!!</p> -->
        </div>

        <div class="form-control">
            <p>Email</p>
            <input type="password" ngModel name="password" required>
           
        </div>
    
        <button type="submit">Login</button>
    </form>
        
    </div>
