<div class="container">
  <div class="products" *ngIf="project.length; else noStudent">
    <div>
      <div class="display">
        <div class="form-group">

        </div>
        <h3>All Projects</h3>
        <table class="table" border="1">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Enddate</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let projects of project ">
            <td class="data"> {{projects.name}}</td>
            <td>{{projects.description}}</td>
            <td>{{projects.date}}</td>
            <td>{{projects.user_id}}</td>
            <td><button (click)="deleteItem(projects.id)" class="btn btn-danger">Delete</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <ng-template #noStudent>
    <p>No Projects</p>
  </ng-template>


</div>
