.main{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-control{
    border: none;
}

input{
    border-radius: 20px;
    padding: 10px;
}

.error{
    color: red;
}


 input.ng-invalid.ng-touched{
    border:2px solid red ;
}
input.ng-valid.ng-touched{
    border:2px solid green ;
}
textarea.ng-valid.ng-touched{
    border-left:5px solid green ;
}
textarea.ng-invalid.ng-touched{
    border-left:5px solid red ;
}

textarea {
    border-radius: 5px;
}

p{
    font-size: 20px;
}